@import '../../../styles/colors';

.container {
    width: 100%;
    max-width: 1600px;
}

.switcherSection {
    display: flex;
    margin-top: 40px;

    .switcher {
        display: block;
        margin-bottom: 10px;
        padding: 10px 20px;

        border: 1px solid #e0e0e0;
        border-radius: 20px;

        transition: 250ms;

        &:hover {
            background-color: $color-accent-blue;
            color: #fff;
            cursor: pointer;
        }

        &.active {
            background-color: $color-accent-blue;
            color: #fff;
        }
    }
}

.formSection {
    width: 100%;
    margin-bottom: 80px;
}

.chartSection {
    width: 100%;
    height: 644px;
    margin-bottom: 80px;
}

.tableSection {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0,0.15);
    overflow: hidden;
}

.filterBox {
    width: 300px;
    margin-right: 50px;
}

.rangeSliderBox {
    width: 300px;
}