@import '../../../styles/colors';

.headSection {
    display: flex;
    justify-content: space-between;
}

.filterSection {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.filterBox {
    width: 300px;
    margin-right: 50px;
}

.rangeSliderBox {
    width: 300px;
}