@import '../../styles/colors';

.container { 
    padding: 30px;
    width: 100%;
}

.filterContainer {
    display: grid;
    grid-template-areas: 
    'filtersUp buttons'
    'filtersDow buttons';
    grid-template-columns: minmax(680px, 830px) 100px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.filtersUp {
    grid-area: filtersUp;
    display: flex;
    width: 100%;
    max-width: 900px;
}

.filtersDow {
    grid-area: filtersDow;
    display: flex;
    width: 100%;
    max-width: 900px;
}

.buttonWrapper {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-self: center;

    & .buttonApply {
        margin-bottom: 30px;
    }
}

.filterBox {
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.rangeSliderBox {
    width: 100%;
    min-width: 150px;
    max-width: 540px;
    padding: 0 10px;

    & .rangeWrapper {
        display: flex;
        justify-content: space-between;
    }
}

.title {
    margin-bottom: 10px;
    font-weight: 500;
}