@import '../../../../../styles/colors';

.formContainer {
    width: 100%;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0,0.15);
}

.formTitle {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

.inputWrap {
    width: 100%;
    margin-bottom: 20px;
}

.radioContainer {
    margin-bottom: 20px;
}

.radioTitleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioTitle {
    font-size: 16px;
}

.btnBox {
    display: flex;
}

.radioGroup {
    display: flex;
    flex-direction: column;
}

.radioItem {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.selectContainer {
    max-width: 200px;
    margin-bottom: 25px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    max-width: 180px;
}