@import '../../styles/colors';

.table {
    width: 100%;
    border-collapse: collapse;
}

.header {
    width: 100%;
    height: 50px;

    background-color: #212121;
    color: #fff;
}

.headerItem {
    position: relative;
    width: calc(100% / 5);
}

.decoration {
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 80%;
    background-color: #424242;
}