$color-primary-text: #616161;
$color-primary-light: #FFFFFF;

$color-accent-purple: #9c27b0;
$color-accent-green: #4caf50;
$color-accent-yellow: #ffeb3b;
$color-accent-blue: #2196f3;
$color-accent-orange: #ff9800;
$color-accent-pink: #e91e63;


$color-hover-purple: #8e24aa;
$color-hover-green: #43a047;
$color-hover-yellow: #fdd835;
$color-hover-blue: #1976d2;
$color-hover-orange: #ffa000;
$color-hover-pink: #d81b60;

$color-disabled-purple: #ce93d8;
$color-disabled-green: #81c784;
$color-disabled-yellow: #fff176;
$color-disabled-blue: #64b5f6;
$color-disabled-orange: #ffb74d;
$color-disabled-pink: #f48fb1;


$color-light-purple: #f3e5f5;
$color-light-green: #e8f5e9;
$color-light-yellow: #fffde7;
$color-light-blue: #e3f2fd;
$color-light-orange: #fff3e0;
$color-light-pink: #fce4ec;

$color-icon: #bdbdbd;
$color-iconBg-hover: #f5f5f5;
$color-delete-icon: #f44336;
$color-close-icon: #424242;
$color-edit-icon: #039be5;
$color-add-icon: #64dd17;
$color-confirm-icon: #64dd17;

$error: #d50000;
