@import '../../styles/colors';

.item {
    width: 100%;
}

.itemContent {
    position: relative;  
    padding: 10px 10px; 

    border-bottom: 1px solid #e0e0e0;

    &:first-child {
        text-align: center;
    }
}

.btnBox {
    display: flex;
    justify-content: space-between;
    max-width: 75px;
}

.input {
    min-width: 110px;
    max-width: 95%;
}
